<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

Импортируем pyspark и нужные библиотеки

In [1]:
import findspark
findspark.init('/opt/spark-3.3.1')
import pyspark
sc = pyspark.SparkContext()

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql import Row

Создаем spark сессию

In [4]:
spark = SparkSession \
    .builder \
    .appName("Bank_ini") \
    .config("spark.jars", "/opt/spark-3.3.1/jars/postgresql-42.5.1.jar") \
    .config("spark.driver.bindAddress","localhost") \
    .config("spark.ui.port","5432") \
    .getOrCreate()

Преобразуем список 1 и сохраняем в БД

In [5]:
s1='%а/м%, %а\м%, %автомобиль %, %автомобили %, %транспорт%, %трансп%средс%, %легков%, %тягач%, %вин%, %vin%,%viн:%, %fоrd%, %форд%,%кiа%, %кия%, %киа%%мiтsuвisнi%, %мицубиси%, %нissан%, %ниссан%, %sсанiа%, %вмw%, %бмв%, %аudi%, %ауди%, %jеер%, %джип%, %vоlvо%, %вольво%, %тоyота%, %тойота%, %тоиота%, %нyuнdаi%, %хендай%, %rенаulт%, %рено%, %реugеот%, %пежо%, %lаdа%, %лада%, %dатsuн%, %додж%, %меrсеdеs%, %мерседес%, %vоlкswаgен%, %фольксваген%, %sкоdа%, %шкода%, %самосвал%, %rover%, %ровер%'
list1=s1.split(',')

In [6]:
columns=["id","pattern"]
data=[]
for i in range(len(list1)):
    data.append((i,list1[i]))
df_list1 = spark.createDataFrame(data,columns)

In [8]:
df_list1.write.format("jdbc")\
    .option("url", "jdbc:postgresql://localhost:5432/de_project4") \
    .option("driver", "org.postgresql.Driver").option("dbtable", "list1") \
    .option("user", "postgres").option("password", "1").save()

Преобразуем список 2 и сохраняем в БД

In [9]:
s2='%сою%, %соя%, %зерно%, %кукуруз%, %масло%, %молок%, %молоч%, %мясн%, %мясо%, %овощ%, %подсолн%, %пшениц%, %рис%, %с/х%прод%, %с/х%товар%, %с\х%прод%, %с\х%товар%, %сахар%, %сельск%прод%, %сельск%товар%, %сельхоз%прод%, %сельхоз%товар%, %семен%, %семечк%, %сено%, %соев%, %фрукт%, %яиц%, %ячмен%, %картоф%, %томат%, %говя%, %свин%, %курин%, %куриц%, %рыб%, %алко%, %чаи%, %кофе%, %чипс%, %напит%, %бакале%, %конфет%, %колбас%, %морож%, %с/м%, %с\м%, %консерв%, %пищев%, %питан%, %сыр%, %макарон%, %лосос%, %треск%, %саир%, % филе%, % хек%, %хлеб%, %какао%, %кондитер%, %пиво%, %ликер%'
list2=s2.split(',')

In [10]:
columns=["id","pattern"]
data=[]
for i in range(len(list2)):
    data.append((i,list2[i]))
df_list2 = spark.createDataFrame(data,columns)

In [11]:
df_list2.write.format("jdbc")\
    .option("url", "jdbc:postgresql://localhost:5432/de_project4") \
    .option("driver", "org.postgresql.Driver").option("dbtable", "list2") \
    .option("user", "postgres").option("password", "1").save()